
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent a Bike</title>
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Hmart-Smart Product eCommerce html Template">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/hmarthtml-10/hmart/assets/images/logobike2.ico" />
    <!-- CSS
    ============================================ -->
    <link rel="stylesheet" href="~/hmarthtml-10/hmart/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/hmarthtml-10/hmart/assets/css/font.awesome.css" />
    <link rel="stylesheet" href="~/hmarthtml-10/hmart/assets/css/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="~/hmarthtml-10/hmart/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/hmarthtml-10/hmart/assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/hmarthtml-10/hmart/assets/css/venobox.css">
    <link rel="stylesheet" href="~/hmarthtml-10/hmart/assets/css/jquery-ui.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/hmarthtml-10/hmart/assets/css/style.css">
    <!-- Minify Version -->
    <!-- <link rel="stylesheet" href="assets/css/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css"> -->
</head>

<body>
    <div class="main-wrapper">
        @await Html.PartialAsync("/Views/LayoutPartial/_HeaderPartial.cshtml")

        <div class="offcanvas-overlay"></div>
        <br />
        <br />
        @RenderBody()

        @await Html.PartialAsync("/Views/LayoutPartial/_FooterPartial.cshtml")
    </div>
    
    @await Html.PartialAsync("/Views/LayoutPartial/_ScriptPartial.cshtml")
</body>
</html>

