
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="section-404 section" data-bg-image="~/hmarthtml-10/hmart/assets/images/404/bg-404.webp">
    <div class="container">
        <div class="content-404">
            <h1 class="title">Oops!</h1>
            <h2 class="sub-title">Page not found!</h2>
            <p>You could go to homepage</p>
            <div class="buttons">
                <a class="btn btn-dark btn-outline-hover-dark" href="/Default/Index/">Homepage</a>
            </div>
        </div>
    </div>
</div>


