<header>
    <!-- Header top area start -->
    <div class="header-top">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col">
                    <div class="welcome-text">
                        <a href="/Default/Index/">Your journey your bike ride</a>
                    </div>
                </div>
                <div class="col d-none d-lg-block">
                    <div class="top-nav">
                        <ul>
                            <li><a href=""><i class="fa fa-instagram"></i></a></li>
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header top area end -->
    <!-- Header action area start -->
    <div class="header-bottom  d-none d-lg-block">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-3 col">
                    <div class="header-logo">
                        <a href="/Default/Index/"><img src="~/hmarthtml-10/hmart/assets/images/logo/bikelogo.png" alt="Site Logo" /></a>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- Header action area end -->
    <!-- Header action area start -->
    <!-- Header action area end -->
    <!-- header navigation area start -->
    <div class="header-nav-area d-none d-lg-block sticky-nav">
        <div class="container">
            <div class="header-nav">
                <div class="main-menu position-relative">
                    <ul>
                        <li><a href="/Default/Index">Home</a></li>
                        <li><a href="/Unreserved/Index">Unreserved Bikes</a></li>
                        <li><a href="/Faq/Index">Questions</a></li>
                        <li><a href="/Contact/Index">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- header navigation area end -->
    
</header>